* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Raleway', sans-serif, 16px;
	color: #555;
}

ul, nav {
    list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover {
    opacity: 1;
    color: #DF9322;
}

/* a.btn {
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #DF9322;
	font-weight: 800;
    text-align: center;
    padding: 5px;
    margin: 10px;
} */

hr {
	width: 150px;
	height: 2px;
	background-color: #DF9322;;
	border: 0;
	margin-bottom: 50px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

section h3.title {
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Montserrat';
	margin-bottom: 35px;
	text-align: center;
}

section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 18px;
	padding: 0 10px;
    line-height: 2;
    font-family: 'Raleway', sans-serif;
}

ul.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
    padding: 30px 70px 0;
    font-family: 'Montserrat', sans-serif;
}

header nav {
	display: flex;
}

header nav li {
    margin: 0 10px;
}

header nav li:first-child {
	margin-left: 0;	
}

header nav li:last-child {
	margin-right: 0;	
}

.logo {
    margin: auto 0; 
}

.hero {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}


.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #DF9322;
    z-index: -1;
    background-image: url(imgs/background.jpg);
}

.hero .background-image:after{ 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1 {
	font: bold 60px 'Montserrat';
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px 'Raleway', sans-serif,;
	margin-bottom: 30px;
}

.hero a.btn {
	padding: 20px 46px;
}

i {
	margin: 10px;
	padding-bottom: 15px;
}

.projects {
	background-color: #f7f7f7;
}

.project {
	min-width: 300px;
}

p span {
	padding: 5px;
	display: block;
	/* font-weight: bolder; */
	/* font-size: 25px; */
}

.projects .grid li {
	padding: 5 10px;
	flex-basis: 50%; 
	text-align: center;
}

.projects .grid li h4 {
	color: #555;
    font-size: 20px;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}

.projects .grid li p {
    margin: 0;
}

.project-description {
	padding: 20px;
	min-height: 270px;
	font-size: 14px;
}

.project-tech {
    display: flex;
    justify-content: space-around;
	list-style: none;
	margin: 2em auto;
	padding: 5px 20px 5px 20px;
  }

  .proj-link {
	text-align: center;
	width: 100px;
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #DF9322;
	font-weight: 800;
    text-align: center;
    padding: 5px;
    margin: 10px;
  }

  .proj-links  {
	/* display: flex;
	flex-direction: row;
	align-items: center;  */
	/* justify-content: space-evenly; */

 }

  .tech-icon {
	height: 45px;
	width: 45px;
	color: darkgrey;
  }

  .redux {
	  margin-top: 10px;
  }

  .project-screenshot {
    width: 100%;
	overflow: hidden;
	/* margin-bottom: -20px; */
  }

  .project-screenshot img {
	  width: 100%;
    }

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 40px 0;
}

#footer-title {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    padding: 10px;
}

.email {
    padding: 15px;
}

.social-media-list {
    text-align: center;
}



@media (max-width: 600px){

	.projects .grid li{
		flex-basis: 100%;
	}

	section{
		padding: 80px 30px;
	}


}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}

}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 32px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

@media (max-width: 1000px){

	.projects .grid li{
		flex-basis: 70%;
		margin-bottom: 55px;
	}

	.projects .grid li:last-child{
		margin-bottom: 0;
	}

	header{
		padding: 20px 50px;
	}

	section{
		padding: 100px 50px;
	}

}